@import '@styles/mixin.module.scss';
@import '@styles/variable.module.scss';

.container {
    background-image: url(../../assets/images/act2_2.avif);
    height: 409px;
    width: calc(100% / 2);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 20%;
}

.containerTimer {
    @include flex_box_custom(center, center, 10px);
}

.title {
    color: rgb(255, 255, 255);
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 5px;
    text-align: center;
}

.boxBtn {
    margin-top: 50px;
    text-align: center;
    Button {
        width: 200px;
    }
}
