@import '@styles/mixin.module.scss';
@import '@styles/variable.module.scss';

.container {
    @include flex_box_custom(center, center, 0px);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba($color: #fff, $alpha: 0.7);
}

.containerHeader {
    width: 1250px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 83px;
}

.containerBoxIcon {
    @include flex_box_custom(center, center, 10px);
}

.containerBox {
    @include flex_box_custom(center, center, 20px);
}

.containerMenu {
    @include flex_box_custom(center, center, 30px);
}

.boxIcon {
    @include radius_common(50%);
    @include flex_box_custom(center, center, 0px);
    background-color: $primary_color;
    width: 26px;
    height: 26px;
    cursor: pointer;
}

.menu::after {
    content: '';
    display: block;
    height: 3px;
    background-color: #555555;

    transform-origin: left;
    transform: scale(0);
    transition: transform 300ms, opacity 300ms;
    opacity: 0;
}

.menu {
    cursor: pointer;
    padding-top: 3px;
    font-size: 15px;
    color: $primary_color;
}

.menu:hover {
    color: #555555;
    transform: none;
    transition: transform 300ms;
}

.menu:hover:after {
    transform: scale(1);
    opacity: 1;
}
