@import '@styles/mixin.module.scss';
@import '@styles/variable.module.scss';

.container {
    position: relative;
    @include flex_box_custom(center, center, 0px);
    min-height: 750px;
    overflow: hidden;

    .video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }
}

.content {
    @include flex_box_custom(center, center, 10px);
    flex-direction: column;
    z-index: 1;
    Button {
        width: 200px;
        &:hover {
            background-color: white;
        }
    }
}

.title {
    font-size: 55px;
    color: #fff;
    font-weight: 700;
}

.des {
    color: #fff;
    font-weight: 400;
    background-color: black;
    padding: 7px;
    margin-bottom: 15px;
}
